/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
/******************************************
/* LAYOUT
/*******************************************/
html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  /* background: rgb(44, 44, 44); */
  background: rgb(32,32,32);
  /* background: radial-gradient(circle, rgba(31,31,31,1) 35%, rgba(48,48,48,1) 76%, rgba(57,57,57,1) 84%, rgba(75,74,74,1) 94%, rgba(82,82,82,1) 99%); */
  color: rgb(219, 219, 219);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
p{
  font-family: 'Arsenal', sans-serif;
  font-family: 'Raleway', sans-serif;
}
header{
  display: flex;
  position: fixed;
  background:rgb(32, 32, 32);
  /* justify-content: center; */
  align-items: center;
  overflow-x: hidden;
  /* overflow-y: visible; */
  z-index: 5;
  padding: 10px 0;
  width: 100vw;
  height: 105px;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
header>figure{
  flex: 1;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  z-index: 4;
}
header a img.logo{
  display: inline-block;
  /* object-fit: cover; */
  flex: 1;
  width: 100%;
  height: 100%;
}
header nav{
  display: flex;
  flex: 7;
  margin: 0 5% 0 1%;
}
header nav ul{
  display: flex;
  justify-content: space-around;
  flex: 1 2 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
header nav .menu{
  display: none;
}
header nav ul li{
  /* display: block; */
}
a,
header nav ul li a,
header nav ul li a:visited{
  /* display: block; */
  color: rgb(231, 231, 231);
  text-decoration: none;
  transition: .2s;
}
a:hover,
header nav ul li a:hover{
  color: #FFD700;
  font-size: 102%;
  /* text-shadow: 1px 1px 0 orangered; */
  /* text-shadow: 1px 1px 0 #FFD700; */
}
.portal .login{
  position: fixed;
  top: 80px;
  right: 10px;
}
.portal .login button,
.portal .login input{
  display: block;
  /* width: 70%; */
  justify-self: flex-end;
  align-self: flex-end;
}
.portal .login form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.portal .login button{
  width: 30%;
  justify-self: flex-end;
}
section{
  margin: 0;
  padding: 0;
}
main section{
  background:rgb(32, 32, 32);
  font-size: 20px;
  line-height: 1.5;
  z-index: 2;
  scroll-margin-top: 30vh;
  width: 100%;
  margin: 70vh 0 0 0;
  padding: 10px 0;
}
main section *:not(li),
footer{
  font-family: 'Roboto', sans-serif;
  font-family: 'Arsenal', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding: 0 10%;
  letter-spacing: .5px;
}
main section a{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  width: 100%;
}
main section a:hover{
  color: white;
  text-shadow: 1px 0 0 #FFD700, 0 1px 0 #FFD700, -1px 0 0 #FFD700, 0 -1px 0 #FFD700;
}
.fas.fa-arrow-down{
  padding-right: 10px;
}
.fas.fa-arrow-down+span{
  font-size: 18px;
  padding: 0;
}
main section h2{
  font-family: 'Cinzel', serif;
  font-family: 'Syncopate', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 8px;
  text-align: center;
}
main section h3,
main section h3 span{
  font-family: 'Bungee Inline', cursive;
  font-family: 'Arsenal';
  font-family: 'Syncopate', sans-serif;
  /* font-weight: bold; */
  /* letter-spacing: 3px; */
}
main section h3 span{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
main section a{
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-style: oblique;
}
main section p>a{
  padding: 0;
}
#opportunities{
  scroll-margin: 20vh;
}
ul li{
  list-style-type: none;
}
span+p,
span+p+p{
  margin-left: 40px;
}
#opportunities h3{
  margin: 10px 0;
}
#opportunities h3+span{
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 25px;
}
/* #opportunities .underline{
  text-decoration: underline;
} */
#opportunities h4{
  margin-top: 30px;
  margin-bottom: 10px;
}
#opportunities p{
  margin: 5px 0;
  /* margin-left: 40px; */
}
#pay-rate h3,
#pay-rate h3>span{
  /* font-size: 20px; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* letter-spacing: normal; */
  /* font-family: 'Raleway', sans-serif; */
  font-weight: normal;
  font-size: 20px;
}
#pay-rate h3>span{
  font-weight: 600;
}
#pay-rate h4{
  font-family: 'Syncopate', sans-serif;
  font-size: 17px;
}
ol li{
  margin: 20px 0px 20px 50px;
}
#location{
  scroll-margin-top: 40vh;
}
#contact{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  padding: 10px 0 30px 0;
}
#contact h4{
  text-align: center;
  margin: -27px 0 33px 0;
}
main section#contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
}
main section#contact form *{
  justify-self: center;
}
#contact input,
#contact textarea,
#contact button{
  display: block;
  color: rgb(0, 0, 0);
  font-family: 'Arsenal', sans-serif;
  margin: 15px auto;
  padding: 5px 5px;
  text-align: left;;
}
#contact button{
  text-align: center;
  margin: 0;
  padding: 5px auto;
  width: 100%;
  max-width: 100px;
}
#contact input{
  width: 100%;
  max-width: 400px;
  margin: 5px 0;
}
#contact textarea{
  width: 100%;
  max-width: 650px;
  height: 300px;
  resize: none;
}
footer{
  text-align: center;
  margin-bottom: 20px;
}
/*******************/
/* IMAGE CAROUSEL */
/*****************/
figure{
  margin: 0;
}
figure.image-carousel{
  overflow: hidden;
  margin-top: 105px;
  z-index: 1;
  width: 100vw;
}
.image-carousel .slide{
  position: fixed;  
  text-align: center;
  opacity: 0%;
  transition: 1s;
}
.image-carousel .slide img{
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
.image-carousel .slide span{
  position: relative;
  z-index: 2;
  bottom: 33vh;
  /* font-family: 'Antic Didone', serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  /* line-height: 7; */
  text-shadow: 1px 1px 2px rgb(0, 0, 0), -1px -1px 2px rgb(0, 0, 0), -1px 1px 2px rgb(0, 0, 0), 1px -1px 2px rgb(0, 0, 0) ;
}
.image-carousel .slide.active{
  opacity: 100%;
}

/*********************/
/* SPLASH ANIMATION */
/*******************/
.splash{
  display: flex;
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(31,31,31,1) 35%, rgba(48,48,48,1) 76%, rgba(57,57,57,1) 84%, rgba(75,74,74,1) 94%, rgba(82,82,82,1) 99%);
  position: fixed;
  justify-content: center;
  align-content: center;
  text-align: center; 
  top: 0;
  left: 0;
  margin: auto;
  padding: auto 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  animation: fade 1.9s linear;
  animation-fill-mode: forwards;
}
.splash img{  
  position: absolute;
  /* width: 100%; */
  margin: auto;
  cursor: default;
  pointer-events: none;
  /* animation: fade 2s linear; */
  /* transform: translate3d(0,25%,0); */
}
.top{
  animation: down 2s cubic-bezier(0.13, 0.82, 0.02, 1.05);
  animation-fill-mode: forwards;
}
.bottom{
  position: absolute;
  bottom: 0;
  animation: up 2s cubic-bezier(0.13, 0.82, 0.02, 1.05);
  animation-fill-mode: forwards;
}
/* .flip-down{
  animation-delay: 10s;
  animation: flipdown 3s linear;
  animation-fill-mode: forwards;
} */
.top-card{
  background:rgb(32, 32, 32);
  z-index: 2;
}
.bot-card{
  background:rgb(32, 32, 32);
}
.aa-logo{
  display: block;
  justify-content: center;
  text-align: center;
}
.aa-logo:hover{
  animation: spin .5s linear;
}
@keyframes spin{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(180deg);
  }
}
@keyframes fade{
  0%{
    opacity: 100;
  }
  75%{
    opacity: 100;
  }
  100%{
    opacity: 0;
  }
}
@keyframes down{
  0% {
    top: 0;
    transform: rotateZ(180deg);
  }
  25% {
    /* top: 40%; */
    top: 40vh;
    transform: rotateZ(180deg);
  }
  50%{
    /* top: 35%; */
    top: 35vh;
    transform: rotateZ(360deg);
  }
  70%{
    /* top: 35%; */
    top: 35vh;
    transform: rotateZ(360deg);
    opacity: 100;
  }
  90%{
    opacity: 0;
  }
  100%{
    /* This was added */
    top: 50vh;
    transform: rotateZ(1deg);
    opacity: 0;
  }
}
@keyframes up{
  0%{
    bottom: 0;
    transform: rotateZ(180deg);
    
  }
  25%{
    /* bottom: 40%; */
    bottom: 40vh;
    transform: rotateZ(180deg);
  }
  50% {
    /* bottom: 34.75%; */
    bottom: 34.75vh;
    transform: rotateZ(0deg);
  }
  70% {
    /* bottom: 34.75%; */
    bottom: 34.75vh;
    transform: rotateZ(0deg);
    opacity: 100;
  }
  90%{
    opacity: 0;
  }
  100% {
    /* this was added */
    bottom: 50vh;
    transform: rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes flipdown{
  0%{
    transform: rotateY(0deg);
    opacity: 100;
  }
  100%{
    transform: rotateY(360deg);
    opacity: 0;
  }
}
/* cubic-bezier(0.075, 0.82, 0.165, 1) */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}
@media (max-width: 1430px){
  .image-carousel .slide span{
    font-size: 35px;
  }
}

@media (max-width: 1220px){
  header nav{
    /* margin: 0 10% 0 1%; */
  }
}

@media (max-width: 1050px){
  header nav ul{
    font-size: 15px;
  }
}

@media (max-width: 850px){
  main section{
    scroll-margin: 10vh;
  }
  main section h2{
    font-size: 90%;
  }
  main section ol li,
  main section p,
  .fas.fa-arrow-down+span{
    font-size: 80%;
  }
  main section h3,
  #pay-rate h3, 
  #pay-rate h4{
    font-size: 65%;
  }
  #pay-rate h3>span{
    font-size: 100%;
  }
  #contact{
    padding: 25px 25px;
  }
  #contact h4{
    margin: 0 0 20px 0;
  }
  header figure{
    flex: 3;
  }
  header{
    width: 100%;
    align-content: space-between;
    overflow: hidden;
  }
  header nav{
    justify-self: flex-end;
    text-align: right;
  }
  header nav ul{
    /* position: relative; */
    display: flex;
    /* display: none; */
    flex-direction: column;
    /* justify-content: flex-end; */
    background:rgb(32, 32, 32);
    /* text-align: right; */
    top: 0;
    right: 0px;
  }
  header nav ul li{
    z-index: 3;
  }
  header nav .menu{
    display: block;
    display: none;
    position: fixed;
    top: 15px;
    right: 25px;
  }
  header nav a{
    display: block;
  }
  .image-carousel .slide span{
    font-size: 26px;
  }
  /* .fas.fa-arrow-down+span {
    font-size: 12px;
  } */
}

@media (max-width: 768px){

}

@media (max-width: 375px){
  body{
    width: 100%;
    margin: 0 auto;
  }
  main section{
    margin-top: 50vh;
  }
  .image-carousel .slide img{
    width: 100%;
    height: 50vh;
  }
  .image-carousel .slide span{
    bottom: 20vh;
    font-size: 22px;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait){
    .image-carousel .slide img{
      width: 100%;
      height: 50vh;
    }
}